body{
    font: 400 14px Roboto;
    box-sizing: border-box;
    
}
.container{
    width: 1366px;
    display: flex;  
    margin: 0 auto;
    box-sizing: border-box;
    background: #E5E5E5;
}
.left-side-bar{
    height: 768px;
    width: 246px;
    background-color: #25262D;
    transition:  0.5s linear;
    display: flex;
    flex-direction: column;
}
.container-nav{
    width: 214px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow:column wrap;
}
.Main{
    width: 1120px;
    min-height: 768px;
}
.header{
    height: 72px;
    vertical-align: middle;
    box-shadow: inset 0px -1px 0px #393A42;
}
.header-content-container{
    display: flex;
    align-items:center;
    width: 100%;   
}
.container-main-nav{
    width: 190px;
    height: 29px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 18.5px;
    font-size: 11px;
    font-weight:normal;
    line-height: 13px;
    color: #778192;
    text-transform: uppercase;
    outline: none;
    margin-top: 16px;
}
.left-side-bar svg use{
    fill:#778192;
}
.left-side-bar .nav-button:hover use{
    fill:white;
}
.left-side-bar .settingsLogo:hover use{
    fill: white;
}
.mainNavLabel:hover span, .mainNavLabel:hover use{
    color:#B9C1CE;
    fill: #B9C1CE;
}

.nameApps{
    width: 126px;
    height: 19px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 11px;    
}
.nameApps a:hover{
    color: white;
}
.settingsLogo{
    margin-left: auto;  
}
.settingsLogo a{
    display: flex;
    align-items: center;
}
.nameApps a {
    color: #778192;
    text-decoration: none;
    font-size: 16px;
}
.nav{
    background-color: #25262D;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.mainNavLabel{
    display: flex;
}
.hide{
    display: none;
} 
.hiddenMenu{
    visibility: hidden;
    height: 0;
}     
.hide:checked ~ div  {
    visibility: visible;
    height: 100%;   
}
.hiddenClass{
    position: absolute;
    left: -246px;
    opacity: 0;    
}

.main-full{
    width: 100%;
    transition: 0.5s linear;
}
.Main p{
    text-align: center;    
}

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
}
.nav-button{
      height: 48px;
      align-items: center;
      font-size: 15px;
      line-height: 25px;
      color: #778192;
      box-sizing: border-box; 
}
.nav-button  a{
color: #778192;
padding: 13px 16px 13px 18.5px;
box-sizing: border-box;
text-decoration: none;
display: flex;
width: 100%;
height: 100%;
align-items: center; 
}
.nav-button a span{
    margin-left: 18px;
}
.nav-button div{
    width: 16px;
    display: flex;
    justify-content: center;
}
svg{
    fill:#778192;
}
.nav-button:hover svg,.settingsLogo:hover svg{
    fill: white;
}
.nav-button:hover,.nav-button:hover a{
    background-color: #393A42;
    border-radius: 4px;
    color: white;
}
 .button-сlose{
     width: 100%;
     box-shadow: inset 0px 1px 0px #393A42;

 }
 .button-сlose .nav-button{
     display: flex;
     align-items: center;
 }
 .nav-button span{
     margin-left: 18px;
 }
 
 